{% extends "base.html" %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
{% endblock %}
{% block navbar %}
{%endblock%}
{% block content %}
<div class="container-fluid myContainer">
    <div class="row contentRow">
        <div class="col-lg-3 col-md-5 col-sm-12 infoContainer">
            <h3 class="text-center text-white mt-5 mb-5">ICT Recruiting Platform</h3>
            <h3 class="text-center text-white mt-5">The objective of the system is to design employment platform for SW
                developers</h3>
            <h4 class=" text-center text-white mt-5 text-opacity-50">We empower businesses to recruit specialized talent
                faster with virtual teams of recruiters and AI job-matching technology.</h4>
        </div>
        <div class="col-lg-9 col-md-7 col-sm-12">
            <div class="container h-100">
                <div class="row h-75 justify-content-center align-items-center">
                    <div class="col-12">
                        <div class="row w-100 ">
                            <p class="text-end">Already a member? <a  class="text-success" href="login">Sign In</a></p>
                        </div>
                    </div>
                    <div class="col-12">
                        <h3 class="text-center ">Sign In </h3>
                        <h6 class=" text-center" style="color: #B5B5C3;">Enter your email & password</h6>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <form method="post" action="{% url 'my_login' %}">
                                {%csrf_token%}
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email address</label>
                                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                                  </div>
                                  <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" name="password">
                                  </div>
                                 
                                  <button type="submit" class="btn text-white" style="background-color:  #339999;">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{%endblock%}